<div class="wrapper" style="padding-top:0">
    <footer class="hero">
        <h4 class="hero-section section-title">Stay in touch</h4>
        <div class="hero-content">
            <h1><a href="https://www.linkedin.com/in/rafamatias">LinkedIn</a></h1>
            <p>He can work with minimum supervision with all levels of management to tackle ambiguous situations. In 2016, he won a prize as the best startup for agriculture by FIAP which is the most important tech college in Brazil. Interests in computer science, mathematics, strategy, startup, innovation and entrepreneurship. </p>
        </div>
    </footer>
</div>
