<div class="wrapper" style="padding-top:0">
    <footer class="hero">
        <h4 class="hero-section section-title">Stay in touch</h4>
        <div class="hero-content">
            <h1><a href="mailto:garcia.pedro.hr@gmail.com">garcia.pedro.hr@gmail.com</a></h1>
            <h1><a class="link" title="/ph-garcia" href="http://linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a></h1>
            <h1><a class="link" title="@garcia-pedro-hr" href="http://github.com/{{ site.github_username }}">GitHub</a></h1>
        </div>
    </footer>
</div>
