---
layout: default
---

<div id="home" class="wrapper" style="padding-bottom: 0px">

    <header id="about" class="hero">
        <h1 class="hero-section"><a class="unlink" href="/">{{ site.name }}</a></h1>

        <div class="hero-content">
            <h1>A developer with enthusiasm for new technologies, huge passion for programming and an aspiring software architect.</h1>
            <p>He believes that writing code is an art that requires him enough commitment and care. He tries to always achieve the best solution, minding code performance, readability, maintainability, style and of course correctness in projects that he is a part of.</p>
            <p>He works with a high sense of ownership, always delivering highly engineered code, minding other developers and maintainers. Interests in computer science, innovation and software architecture.</p>
            <p>He is currently working with Android Open Source Project (AOSP) for Motorola Mobility where he develops android applications for mobile devices used by millions of users around the world.</p>
            <p>Aside from his regular attributions as a software engineer, he also tries to help in anyway he can, such as interviewing job candidates or mediating study groups.</p>
        </div>
    </header>

    <section class="hero">
        <h4 class="hero-section section-title">Selected work</h4>
		<!--
        <div class="hero-content">
            <h1>Motorola's Dual SIM Settings App</h1>
            <p>He has been working on Motorola's Dual SIM Settings app installed on Motorola's devices. Main roles: bugfixing/troubleshooting and implementing new dual SIM settings features.</p>
        </div>
		-->
		
		<div class="hero-content">
            <h1>Venturus' VNT Club</h1>
            <p>He proactively designed (UI/UX and architecture) and developed the enterprise app ​VNT Club​, in Kotlin (MVVM), leading a small team of 3 people.</p>
			<p>The app's purpose is to provide a place where the employees can check what partnerships with other companies Venturus has.</p>
        </div>
		
        <div class="hero-full" style="background-color:#532D8C; min-height: 540px;">
			<div>
                <img src="assets/images/vntclub_splashscreen.jpeg" alt="VNT Club Splashscreen" width="200">
            </div>
            <div>
                <video width="200" autoplay loop muted>
                    <source src="assets/videos/vntclub/default.webm" type="video/webm">
                    <source src="assets/videos/vntclub/default.mp4" type="video/mp4">
                </video>
            </div>
            <div>
                <video width="200" controls loop muted>
                    <source src="assets/videos/vntclub/map.webm" type="video/webm">
                    <source src="assets/videos/vntclub/map.webm" type="video/mp4">
                </video>
            </div>
        </div>
	
    </section>
    
    <section class="hero">
        <h4 class="hero-section section-title">Articles</h4>
        <div class="hero-content">
            <h1><a href="https://www.venturus.org.br/en/populating-your-room-database-with-pre-packaged-data/">Populating your Room database with pre-packaged data.</a></h1>
            <h1><a href="https://medium.com/@garcia.ph/gamification-uma-ferramenta-de-motivação-e-engajamento-7be5e61982ec">Gamification — Uma Ferramenta de Motivação e Engajamento.</a></h1>
            <h1><a href="https://www.venturus.org.br/en/knowledge-acquisition-through-video-games-and-serious-games/">Knowledge Acquisition Through Video Games and Serious Games.</a></h1>
            <h1><a href="http://www.br-ie.org/pub/index.php/wcbie/article/download/7396/5192">REMAR: Uma Plataforma de Apoio à Publicação e Customização de Jogos Educacionais Abertos.</a></h1>
        </div>
    </section>

    <section class="grid experience">
        <h4 class="hero-section section-title">Work &amp; Experience</h4>
        <div class="experience-item">
            <h1>Venturus &amp; Motorola Mobility</h1>
            <h2 class="experience-date">current · 2018</h2>
            <p><em>Venturus is one of the most recent and recognized Brazilian research, development and innovation institutes.</em></p>
            <p>Is an Android Developer and Architect, customizing the AOSP for all Motorola products. Started with the Carrier Branded Services team and is now part of the Motorola's Dual SIM management application team.</p>
            <p>Automated the Core Apps configuration review process with a Python program. Later led a team of 4 people through the expansion to accomodate other components.</p>
            <p>Works with a multicultural and multinational large-scale team, always maintaining a great communication and argumentation level, both written and spoken.</p>
        </div>
        <div class="experience-item">
            <h1>Motorola Mobility</h1>
            <b class="section-title">2018 · 2018</b>
            <p><em>Motorola is one of the mobile phone most associated brands, also being one of the largest manufacturers.</em></p>
            <p>Architectured, implemented and maintained test scripts in Python for the software of Android devices, including validation and deployment, becoming the owner of Motorola’s automatic sanity test suite.</p>
            <p>Achieved the second position in the automation team’s code contribution ranking out of approximately 40 contributors.</p>
            <p>Developed a new framework for test scripts, which significantly reduced sanity execution time from roughly 6 hours to 2 hours each run, also improving maintainability by making bug tracking easier.</p>
        </div>
        <div class="experience-item">
            <h1>Learning Objects Lab (LOA) - UFSCar</h1>
            <h2 class="experience-date">2017 · 2018</h2>
            <p><em>The Learning Objects Lab (LOA) is an interdisciplinary laboratory of studies and research on new technologies and methods for the development of Open Educational Interactive Resources at the Federal University of São Carlos.</em></p>
            <p>Maintained REMAR, a tool that facilitates sharing, customizing and publishing open-source educational and accessible games to different platforms, while also providing a means for teachers to improve the students’ learning experience.</p>
            <p>Developed both front and back-end of tools to customize several of LOA’s games on REMAR.</p>
            <p><em><small>*Failure. The product did not survive due to lack of funding.</small></em></p>
        </div>
    </section>
</div>