---
layout: default
---

<div id="home" class="wrapper" style="padding-bottom: 0px">

    <header id="about" class="hero">
        <h1 class="hero-section">{{ site.name }}</h1>

        <div class="hero-content">
            <h1>Software Engineer with experience in Digital Design who is enthusiastic about product, technology and
                design.</h1>
            <p>He is currently working with Android Open Source Project (AOSP) for Motorola Mobility. He developed
                android applications for mobile devices used by millions of users around the world.</p>

            <h1><a title="/rafamatias" href="http://linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a></h1>
            <h1><a title="@rafamatias" href="http://github.com/{{ site.linkedin_username }}">Github</a></h1>
            <h1><a title="/rafamatias" href="http://dribbble.com/{{ site.linkedin_username }}">Dribbble</a></h1>
        </div>
    </header>

    <section class="hero">
        <h4 class="hero-section section-title">Selected work</h4>
        <div class="hero-content">
            <h1>Android Settings App</h1>
            <p>In a global team, he has been working on Android Settings app installed on Motorola devices. His main roles are fixing issues introduced by AOSP (Android Open Source Project) and implementing new settings features. </p>
            <p>The most recent recent feature was an app manager for foldable devices. <a href="https://www.youtube.com/watch?v=FC5FcfZf7xw">See Motorola Razr</a></p>

        </div>

        <div class="hero-full" style="background-color:#00EE80; min-height: 540px;">
        </div>
    </section>

    <section class="hero">
        <h4 class="hero-section section-title">Articles</h4>
        <div class="hero-content">
            <h1><a href="http://medium.com">Android: Gradle build variables done right</a></h1>
        </div>
    </section>

    <section class="grid experience">
        <h4 class="section-title">Work &amp; experience</h4>
        <div class="experience-item">
            <h1>Motorola Mobility</h1>
            <h2 class="section-title">current · 2018</h2>
            <p>Software Engineer working with teams from China, India, Brazil and USA to release new disruptive mobile devices around the world. <a href="https://www.youtube.com/watch?v=FC5FcfZf7xw">New Motorola Razr</a></p>
        </div>
        <div class="experience-item">
            <h1>Hummingbird</h1>
            <h2 class="section-title">2018 · 2017</h2>
            <p>It was an unusual Startup, with no guidance. He worked as Software engineer and also Product owner, trying to raise a new product. <br/><em><small>*Failed. The product did not survive.</small></em></p>
        </div>
        <div class="experience-item">
            <h1>Nextel</h1>
            <b class="section-title">2017</b>
            <p>Senior Android developer for the most innovative mobile carrier in Brazil. In 2017, He worked in smart squad using Clean Archictecture and TDD.</p>
        </div>
        <div class="experience-item">
            <h1>Oi</h1>
            <b class="section-title">2017 · 2016</b>
            <p>Another huge mobile carrier in Brazil. My goal was to set an environment for mobile development best practices and Continuous integration.</p>
        </div>
        <div class="experience-item">
            <h1>Valor PRO</h1>
            <b class="section-title">2016 · 2014</b>
            <p>It is an stock market platform (Broker/Terminal). He developer apps for both Android and iOS plataforms and tried to keep the main concept of these kind of product: High speed.</p>
        </div>
        <div class="experience-item">
            <h1>Valor Econômico</h1>
            <b class="section-title">2016 · 2010</b>
            <p>From Frontend developer to Mobile application developer in a couple of years. He worked with many techonologies like Nodejs, Swift, PHP, etc. But that was not considered Full stack development.</p>
        </div>
        <div class="experience-item">
            <h1>SBT</h1>
            <b class="section-title">2015</b>
            <p>In 2016, I implemented social login using Facebook and Twitter APIs, and a feature that users could interact with TV shows in real time.</p>
        </div>
        <div class="experience-item">
            <h1>VM2 Agency</h1>
            <b class="section-title">2010 · 2008</b>
            <p>Old fashioned Frontend development. Pure HTML, CSS and VanillaJS. He also worked with SEO. <br/><em><small>*a time when IE6 was a king, or not.</small></em></p>
        </div>
    </section>

</div>